<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>  
<body>
    <%- include('../partials/nav.ejs') %>   

    <div class="container">
      <h1>admin index page</h1>
    </div>
  


    <!-- footer -->
    <%- include('../partials/footer.ejs') %>  
</body>
</html>