<footer class="container-fluid mt-1 p-4">
	<div class="container ">
		<div class="row pb-1"> 
		<!-- Footer logo -->
		<div class="col-lg-3 col-md-12"><img src="../img/logo.png"></div>

		<!-- footer links -->
		<div class="col-lg-6 col-md-12">
			<ul class="nav justify-content-center">
			  <li class="nav-item">
			    <a class="nav-link active" href="#">Travel Tips</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="#">Get Inspired</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="#">Cheap Airfare</a>
			  </li>			  
			  <li class="nav-item">
			    <a class="nav-link" href="#">About</a>
			  </li>
			</ul>
		</div>

		<!-- footer social links -->
		<div class="col-lg-3 col-md-12">
			<ul class="nav justify-content-end">
			  <li class="nav-item">
			    <a class="nav-link active btn btn-light" href="#"><i class="fab fa-facebook-f"></i></a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link active btn btn-light" href="#"><i class="fab fa-google"></i></a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link active btn btn-light" href="#"><i class="fab fa-twitter"></i></a>
			  </li>
			</ul>

		</div>

		<hr>
		</div>
		<hr>

		<!-- copyright text -->
		<div class="row pt-2">
			<div class="col-lg-12 text-center">
				<span>&copy <a href="">NewToDesign.com</a> All Rights Received.</span>
			</div>
		</div>
	</div>
</footer>
  <!-- JavaScript files-->
  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>