<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>  

<body>
    
    <%- include('../partials/author.ejs') %>  

    <div class="container" style="margin-top: 70px; margin-bottom: 130px;">
        <h1 style="text-align: center;">Welcome back: <author> hude</author></h1>

        <div class="create-form">
            <h2>Create public blog</h2>
            <form action="" method="post">
                <div class="form-group">
                    <label for="exampleFormControlInput1" >Blog Heading</label>
                    <input type="text" class="form-control" style="text-transform: uppercase;" id="exampleFormControlInput1" placeholder="Blog heading">
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Content</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                  </div>

                  <div class="container my-4">
                    <!--Grid row-->
                    <div class="row text-center">
                        <!--Grid column-->
                        <div class="col-md-6 mb-4">
                
                        
                            <div class="file-field">
                            
                            <div class="d-flex justify-content-center">
                                <div class="btn btn-mdb-color btn-rounded float-left">
                                <span>Choose file</span>
                                <input type="file" name="file">
                                </div>
                            </div>
                            </div>
                            </div>
                    </div>
                    <button type="button" class="btn btn-dark">Create</button>
               </form>
       
             </div>
    
    
        </div>

       
    </div>



    <%- include('../partials/footer.ejs') %>  
</body>
</html>